<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div style="cursor: pointer;" onclick="location.href='/';" class="brand-link">
        <img src="/assets/images/logo/logo_long_w.png" alt="Logo Point of Sale Management System" class="brand-image">
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">โปรไฟล์ผู้ใช้</li>
                <li class="nav-item">
                    <div style="cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis" onclick="location.href='/Role/Cashier/Page/Profile';" class="nav-link <% var your_page_active = "Profile"; if (your_page_active === your_page) { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p><%= user.member_firstname %> <%= user.member_lastname %></p>
                    </div>
                </li>
                <li class="nav-header">เมนูการใช้งาน</li>
                <li class="nav-item">
                    <div style="cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis" onclick="location.href='/Role/Cashier/Page/Manage_Products';" class="nav-link <% var your_page_active = "Manage_Products"; if (your_page_active === your_page) { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>ปรับปรุงสินค้า</p>
                    </div>
                </li>
                <li class="nav-item">
                    <div style="cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis" onclick="location.href='/Role/Cashier/Page/Manage_Product_Categories_Main';" class="nav-link <% var your_page_active = "Manage_Product_Categories"; if (your_page_active === your_page) { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>ปรับปรุงหมวดหมู่สินค้า</p>
                    </div>
                </li>
                <li class="nav-item">
                    <div style="cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis" onclick="location.href='/Role/Cashier/Page/Make_a_Trading_Transaction';" class="nav-link <% var your_page_active = "Make_a_Trading_Transaction"; if (your_page_active === your_page) { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>ทำรายการซื้อขายสินค้า</p>
                    </div>
                </li>
                <li class="nav-item">
                    <div style="cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis" onclick="location.href='/Role/Cashier/Page/Make_a_Payment_Transaction';" class="nav-link <% var your_page_active = "Make_a_Payment_Transaction"; if (your_page_active === your_page) { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>ทำรายการชำระเงินสินค้า</p>
                    </div>
                </li>
                <li class="nav-item">
                    <div style="cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis" onclick="location.href='/Role/Cashier/Page/Electronic_Reciept';" class="nav-link <% var your_page_active = "Electronic_Reciept"; if (your_page_active === your_page) { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>บันทึกข้อมูลการซื้อขาย</p>
                    </div>
                </li>
                <li class="nav-item">
                    <div style="cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis" onclick="location.href='/Role/Cashier/Page/Attach_Proof_of_Payment';" class="nav-link <% var your_page_active = "Attach_Proof_of_Payment"; if (your_page_active === your_page) { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>แนบหลักฐานชำระเงิน</p>
                    </div>
                </li>
                <li class="nav-header">เมนูผู้ใช้งาน</li>
                <li class="nav-item">
                    <div style="cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis" data-toggle="modal" data-target="#Store_Information" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>นโยบายความเป็นส่วนตัว</p>
                    </div>
                </li>
                <li class="nav-item">
                    <div style="cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis" data-toggle="modal" data-target="#Store_Information" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>ข้อกำหนด และ เงื่อนไข</p>
                    </div>
                </li>
                <li class="nav-item">
                    <div style="cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis" data-toggle="modal" data-target="#Store_Information" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>นโยบายการใช้คุกกี้</p>
                    </div>
                </li>
                <li class="nav-item">
                    <div style="cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis" onclick="location.href='/Logout';" class="nav-link <% var your_page_active = "Logout"; if (your_page_active === your_page) { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>ออกจากระบบ</p>
                    </div>
                </li>
                <li class="nav-header">แอปพลิเคชัน</li>
                <li class="nav-item">
                    <a style="cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis" id="install_posms_app_button" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>ติดตั้งแอปพลิเคชั้น</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis" id="clear_cache_button" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>ล้างแคช</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>