<!DOCTYPE html>
<html lang="th">

<head>
    <!-- Head -->
    <%- include('Include/Head.ejs') %>
    <!-- Head End -->
</head>

<body class="hold-transition login-page">
    
    <!-- Preloader -->
    <%- include('Include/Preloader.ejs') %>
    <!-- Preloader End -->

    <!-- Content Wrapper. Contains page content -->
    <div class="login-box">
        <div class="card">
            <div class="card-header text-center">
                <img src="/assets/images/logo/logo_icon.png" alt="Logo Point of Sale Management System" width="15%">
            </div>
            <div class="card-body login-card-body">
                <p class="login-box-msg">กรณีลืมรหัสผ่าน<br>ป้อน <b>หมายเลขโทรศัพท์</b></p>

                <form id="login_form">
                    <div class="row">
                        <div class="col-12">
                            <label for="username">หมายเลขโทรศัพท์</label>
                            <input type="tel" class="form-control" id="username" placeholder="หมายเลขโทรศัพท์" required autofocus autocomplete="off">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 login_submit_check">
                            <button type="submit" id="login_submit" class="btn btn-custom-one btn-anti btn-block" onclick="location.href='/Change_Password';">เปลี่ยนรหัสผ่าน</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- Content Wrapper. Contains page content End -->

    <!-- Javascript -->
    <%- include('Include/Javascript.ejs') %>
    <!-- Javascript End -->
</body>

</html>