<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> <%= settings.system_version %>
    </div>
    <i class="far fa-copyright"></i> <b><span id="copyright-year-1"></span> - <a class="text-primary" style="cursor: pointer;" onclick="location.href='/';">
        <% if (settings.text_footer) { %>
            <%= settings.text_footer %>
        <% } else { %>
            N/A
        <% } %>
    </a></b>
</footer>