<footer class="main-footer">
    <div style="font-size: 13px;" class="float-right d-none d-sm-block">
        <b>SYSTEM VERSION <a class="text-primary" style="cursor: pointer;" onclick="location.href='/';"><%= settings.system_version %></a></b>
    </div>
    <div style="font-size: 13px;">
        <b>COPYRIGHT <i class="far fa-copyright"></i> <a class="text-primary" style="cursor: pointer;" onclick="location.href='/';"><% if (settings.text_footer) { %><%= settings.text_footer %><% } else { %>N/A<% } %></a> POWERED BY <a class="text-primary" style="cursor: pointer;" onclick="window.open('https://github.com/newzydev', '_blank');">NEWZYDEV</a></b>
    </div>
</footer>