<footer class="main-footer">
    <div style="font-size: 13px;" class="float-right d-none d-sm-block">
        <b>Version</b> <%= settings.system_version %>
    </div>
    <div style="font-size: 13px;">
        <b>COPYRIGHT <i class="far fa-copyright"></i> <a class="text-primary" style="cursor: pointer;" onclick="location.href='/';"><% if (settings.text_footer) { %><%= settings.text_footer %><% } else { %>N/A<% } %></a> POWERED BY <a class="text-primary" style="cursor: pointer;" onclick="location.href='/';">NEWZYDEV</a></b>
    </div>
</footer>