<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="/assets/images/logo/logo_icon.png" alt="Loaading..." height="60" width="60">
    <span class="mt-3">กำลังโหลด...</span>
</div>