<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div style="cursor: pointer;" onclick="location.href='/';" class="brand-link">
        <img src="/assets/images/logo/logo_long_w.png" alt="Logo Point of Sale Management System" class="brand-image">
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">โปรใฟล์ผู้ใช้</li>
                <li class="nav-item">
                    <div style="cursor: pointer;" onclick="location.href='/Role/Customer/Page/Profile';" class="nav-link <% var your_page_active = "Profile"; if (your_page_active === your_page) { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p><%= user.member_firstname %> <%= user.member_lastname %></p>
                    </div>
                </li>
                <li class="nav-header">เมนูการใช้งาน</li>
                <li class="nav-item">
                    <div style="cursor: pointer;" onclick="location.href='/Role/Customer/Page/Order_And_Receipt';" class="nav-link <% var your_page_active = "Order_And_Receipt"; if (your_page_active === your_page) { %> active <% } %>">
                        <i class="far fa-circle nav-icon"></i>
                        <p>ออเดอร์ และ ใบเสร็จ</p>
                    </div>
                </li>
                <li class="nav-header">เมนูผู้ใช้งาน</li>
                <li class="nav-item">
                    <div style="cursor: pointer;" onclick="location.href='/Privacy_Policy';" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>นโยบายความเป็นส่วนตัว</p>
                    </div>
                </li>
                <li class="nav-item">
                    <div style="cursor: pointer;" onclick="location.href='/Terms_and_Conditions';" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>ข้อกำหนด และ เงื่อนไข</p>
                    </div>
                </li>
                <li class="nav-item">
                    <div style="cursor: pointer;" onclick="location.href='/Logout';" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>ออกจากระบบ</p>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>